

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}


body{
    text-align: center;
    font-family: 'Poppins','Arvo',sans-serif;
    background-color: #fff;
}

main, footer{
    margin: 0 2em 4em 2em;
}

/* TITULO */
.inicio-content{
    font-family: 'Oswald',sans-serif ;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eaeaea;
    height: 120vh;
}

.inicio-content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    
}

.inicio-content p:last-child{
    font-size: 1.875rem;
}

.title{
    margin-bottom: 2.5rem;
    font-size: 5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.inicio-content p{
    margin-bottom: 2.5rem;
    font-size: 3.125rem;
}


/* HISTORIA */
.content-historia {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.75rem;
    padding: 3%;
    background-color: #eaeaea;
}

.texto-historia{
    padding-right: 1.5625rem;
}

.content-historia p{
    font-size: 1.25rem;
    line-height: 1.6;
}

.content-historia img{
    height: 10em;
}

/* PRODUCTOS*/


/* Contacto*/
.content-contacto{
    padding-top: 1.25rem;
    background-color: #eaeaea;
    color: #58585c;
    padding-bottom: 0;
    
}

.content-contacto h2{
    font-size: 3.125rem;
    padding-bottom: 1.25rem;
}

.content-contacto p{
    padding-bottom: 1.875rem;
    padding-top: 1.25rem;
}



@media (max-width: 48rem){
    nav{
        display: none;
    }

    
}